<li data-bind="debug: 'Tree Element'">
    <shadow href="#" class="tree-node" data-bind="click: () => {$root.selectedProduct($data.product); $('#residence-effect-dialog').modal('hide'); setTimeout(() => {$('#product-config-dialog').modal('show');}, 500);}" style="cursor: pointer">
        <div class="ui-fchain-item-name" data-bind="text: $data.name, visible: !$root.settings.hideNames.checked()"></div>

        <div class="ui-fchain-item-icon mb-2">
            <img class="icon-tile" data-bind="attr: { src: $data.product.icon ? $data.product.icon : null, alt: $data.product.name }">
            <img class="superscript-icon icon-light" data-bind="visible: $data.regionIcon, attr: {src: $data.regionIcon}">
        </div>

        <div class="ui-fchain-item-count mb-2">
            <div data-bind="if: !!$data.icon">
                <img class="icon-sm icon-light" data-bind="attr: {src: $data.icon}" />
            </div>
            <div data-bind="if: !$data.icon">
                <span href="#" data-toggle="tooltip" data-bind="attr: {'title' : $root.texts.requiredNumberOfBuildings.name}">
                    <span data-bind="text: $root.settings.decimalsForBuildings.checked() ? formatNumber($data.buildings) : formatNumber(Math.ceil($data.buildings))"></span>
                    <span>x</span>
                </span>
            </div>

        </div>
        <div class="tree-node-item-name">
            <a href="#" data-bind="text: $data.product.name, visible: !$root.settings.hideNames.checked()"></a>
        </div>
        <!-- amount -->
        <div>
            <div class="ui-fchain-item-amount" href="#" data-toggle="tooltip" data-bind="attr: {'title' : $root.texts.tonsPerMinute.name}">
                <div class="ui-fchain-item-load"><span data-bind="text: formatNumber($data.amount)"></span><span> t/min</span></div>

            </div>
        </div>
    </shadow>
    <div data-bind="if: children.length">
        <ul data-bind="template: { name: 'treeElement', foreach: children }">
        </ul>
    </div>
</li>